@font-face {
    font-family: 'Sansation';
    src: url(Assets/Fonts/sansation/Sansation_Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Sansation_Light';
    src: url(Assets/Fonts/sansation/Sansation_Light.ttf) format(truetype);
}

:root {
    --body-background-1: #fafafa;
    --body-background-2: #ECAA00;
    --body-background-3: #fafafa;
    --header-background: #FFF9E2;
    --text-color-1: #131313;
    --text-color-2: #fafafa;
}

.dark-theme:root{
    --body-background-1:  #ECAA00;
    --body-background-2: #414141;
    --body-background-3: #414141;
    --header-background: #131313;
    --text-color-1: #fafafa;
    --text-color-2: #131313;
}

* {
    font-family: 'Sansation_Light', 'Courier New', Courier, monospace;
    font-size: 16px;
    color: var(--text-color-1);
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
}

section:first-of-type{
    padding-top: 15vh;
}

section {
    background-color: var(--body-background-1);
    display: flex;
    flex-direction: row;
    height: 115vh;
}

.project__section{
    background-color: var(--body-background-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.contact-and-more__section{
    background-color: var(--body-background-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 115vh;
}

h1{
    font-family: 'Sansation', 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 4rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin: 2rem 0;
}

h2{
    font-family: 'Sansation', 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
}

p{
    text-align: justify;
    font-size: 2rem;
}

/** HEADER START */
header { 
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
    padding: 0 4%;
    width: 100vw;
    height: 15vh;
    z-index: 1001;
}

header > .header__title, .header__title > h1 {
    text-decoration: none;
    border: none;
    background: none;
    font-family: 'Satisfy', 'Courier New', Courier, monospace;
    cursor: pointer;
    font-size: 3rem;
    font-weight: normal;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.header__buttons > button, a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Sansation', 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__SVG {
    filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 0.5rem;
}




/** SECTION */
.white-side__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
}

.white-side__container:nth-child(2){
    padding: 0 5vw;
}

.image__container{
    border-radius: 15px;
    border: 2px solid #131313;
    background: #D9D9D9;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 65%;
    height: 70%;
}

.image__container >img{
    width: 100%;
    height: 100%;
}

.yellow-side__container{
    display: flex;
    flex-direction: column;
    background-color: var(--body-background-2);
    padding: 0 1vw;
    width: 55%;
}

.home-content__container{
    justify-items: center;
    text-align: center;
}

.home-content__container > h1{
    margin: 0;
}

.home-content__container > h1 > span{
    font-family: 'Satisfy', 'Courier New', Courier, monospace;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 4rem;
    font-weight: normal;
}

.home-content__container > p{
    font-size: 3rem;
    width: 80%;
}

.switch__container{
    margin: 2vh 0;
    display: flex;
    justify-content: flex-end;
}

.switch {
    position: relative;
    width: 3vw;
    height: 3vh;
}

.switch input {
    display: none;
}

.switch label {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: var(--body-background-1);
    border-radius: 50px;
    transition: background-color 0.3s;
    border: 2px solid var(--text-color-1);
}

.switch label::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--text-color-1);
    border-radius: 50%;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    transition: transform 0.3s;
    box-shadow: 0 2px 4px rgba(3, 3, 3, 0.2);
}

.switch input:checked + label {
    background: #131313;
    border: 2px solid #ffffff;
}

.switch input:checked + label::after {
    transform: translate(18px, -50%);
}



.icons__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons__container > p{
    margin: 0.5rem 0 2rem 0;
}

.skills__SVG{
    width: 7rem;
    height: 7rem;
}


.skills-content__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.about-content__container > p{
    padding: 0 2.5vw;
}


.projects-cards__container{
    display: flex;
    flex-direction: row;
    height: 70%;
    justify-content: space-evenly;
}


.project__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #000;
    background: #ECAA00;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 30%;
    height: 100%;
    padding: 0 1.5%;
}

.project__container > h2{
    text-decoration:underline;
    color: #131313;
    margin: 2px 0;
}

.project__container > p {
    margin: 0;
    color: #131313;
}

.project__container > button{
    display: flex;
    padding: 0px 34px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1.5px solid #000;
    background: #FAFAFA;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 70%;
    height: 8%;
}

.project__container > button > a, svg > use{
    color:#131313;
}

#future-project{
    transform: rotate(-25deg);
}



.contact__container{
    display: flex;
    flex-direction: row;
}

.socials__container{
    display: flex;
    flex-direction: column;
}

.socials-icons__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gg-labs-colaborators__container{
    background-color: #ECAA00;
    width: 100%;
}

.colaborators__images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2%;
}

.colaborators__images > a > img{
    width: 15rem;
    border-radius: 100%;
}