/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
  --ion-color-primary: #023245;
  --ion-color-primary-rgb: 2, 50, 69;
  --ion-color-primary-contrast: #f0f0f0;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #022c3d;
  --ion-color-primary-tint: #1b4758;

  --ion-color-secondary: #2f738e;
  --ion-color-secondary-rgb: 47, 115, 142;
  --ion-color-secondary-contrast: #f0f0f0;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #29657d;
  --ion-color-secondary-tint: #448199;

  --ion-color-tertiary: #00a3e3;
  --ion-color-tertiary-rgb: 0, 163, 227;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #008fc8;
  --ion-color-tertiary-tint: #1aace6;
}

h1 {
  color: var(--ion-color-primary-contrast);
  font-size: 3rem;
}

p {
  color: var(--ion-color-primary-contrast);
  font-size: 1rem;
}

ion-content {
  --padding-start: 1rem;
  --pading-end: 1rem;
  --padding-bottom: 1rem;
  --background: #023245;
}
