//* ===== GERAL ===== *//
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

h1 span {
  color: var(--ion-color-secondary);
  font-weight: bold;
  
}

p{
  font-size: 1.5rem;
}
//* ===== GERAL ===== *//*

//* ===== INTRODUÇÃO ===== *//
.intro-section {
  display: flex;
  flex-direction: column;
}


.intro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.intro{
  max-width: 60%;
  p{
    font-size: 1.2rem;
  }

}

.intro-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;

  img {
    width: 70%;
    height: auto;
    border-radius: 8px;
    transform: rotate(10deg);
  }
}
//* ===== INTRODUÇÃO ===== *//

//* ===== TECNOLOGIAS ===== *//
.tech-section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.tech-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0;

  ul{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
  }

}

//* ===== TECNOLOGIAS ===== *//

//* ===== PROJETOS ===== *//


//* ===== PROJETOS ===== *//