//* ===== GERAL ===== *//
h1 span {
  color: var(--ion-color-secondary);
  font-weight: bold;
  
}

p{
  font-size: 1.5rem;
}
//* ===== GERAL ===== *//*

//* ===== INTRODUÇÃO ===== *//
.intro-section {
  display: flex;
  flex-direction: column;
}


.intro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;

  h1{
    margin-bottom: 10rem;
  }
}


.intro-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;

  img {
    width: 70%;
    height: auto;
    border-radius: 8px;
    transform: rotate(10deg);
  }
}


//* ===== INTRODUÇÃO ===== *//