<ion-content (ionScroll)="onScroll($event)" scrollEvents="true">
  <!--* ===== INTRODUÇÃO ===== *-->
  <section class="intro-section">
    <!--? ===== INICIO ===== ?-->
    <div class="intro-container">
      <h1>
        Olá,<br />
        Sou o <span>Vinicius Madureira</span>,<br />Desenvolvedor web
      </h1>
      

      <div class="intro-img-container">
        <img
          id="profile-pic"
          src="../../../assets/images/Vinicius_profilePic.jpg"
          alt="imagem de um lindo rapaz sorrindo"
        />
      </div>
    </div>
    <!--? ===== INICIO ===== ?-->

    <!--? ===== SOBRE MIM ===== ?-->
    <div class="about-section">
      <p>
        Estudante de Ciência da Computação e desenvolvedor em constante
        evolução. Gosto de transformar ideias em interfaces funcionais,
        acessíveis e com um toque de criatividade. Atualmente, estou explorando
        o mundo do front-end (com uma quedinha por Angular e Ionic), mas também
        adoro aprender sobre novas tecnologias e colocar a mão no código sempre
        que posso. Este portfólio é um espaço onde compartilho alguns dos meus
        projetos, experiências e aprendizados ao longo da jornada. Fique à
        vontade para explorar
      </p>
    </div>
    <!--? ===== SOBRE MIM ===== ?-->
  </section>
  <!--* ===== INTRODUÇÃO ===== *-->

  <!--* ===== TECNOLOGIAS ===== *-->
  <section class="tecnologias">
    <h2>Tecnologias</h2>
    <div class="tecnologias-container">
      <div class="tecnologia">
        <ion-icon> name="logo-html" class="html-logo"></ion-icon>
        <p>HTML5</p>
      </div>
      <div class="tecnologia">
        <img src="../../../assets/icons/css3.svg" alt="logo do css3" />
        <p>CSS3</p>
      </div>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vel
      autem laborum asperiores vero tenetur explicabo consequatur blanditiis id
      aliquam! Ipsa minus fugiat laborum a explicabo animi corrupti ducimus
      delectus! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Accusamus sit consequuntur tempore? Labore facilis quas sit facere harum,
      veniam sed omnis fuga maxime dolorum! Fuga veritatis pariatur consectetur
      deleniti porro. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Recusandae sit unde velit et debitis! Voluptates, tempore voluptas commodi
      ex deleniti recusandae, dolor consectetur rerum quam nulla fuga
      praesentium minus possimus. Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Blanditiis ut quidem, eum doloribus ipsam atque nulla
      optio vero ipsa iste perferendis, accusantium numquam corrupti expedita
      provident. Perferendis quidem repudiandae iste.
    </p>
  </section>
  <!--* ===== TECNOLOGIAS ===== *-->
  <app-footer></app-footer>
</ion-content>
